/* Dokuwiki */

.picker {
    z-index: 99;
}

/* Editor */

.ace-doku {
    border: 1px solid #ccc;
}

.ace-toggle {
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.ace-doku .ace_marker-layer .ace_preview {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
}

.ace-doku .ace_marker-layer .ace_menu {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

/* Theme */

.ace_markup.ace_underline {
    text-decoration:underline;
}

/* Menu */

.ace-menu {
    padding: 1px;
    background-color: white;
    border: 1px solid silver;
    width: 10em;
}

.ace-menu a {
    display: block;
    padding: 5px;
}

.ace-menu a,
.ace-menu a:visited,
.ace-menu a:active,
.ace-menu a:hover {
    text-decoration: none;
    color: black;
}

.ace-menu a:hover {
    background-color: rgba(0%, 50%, 100%, 0.2);
}
